# Ignore bower packages
bower_components
bower.json

# Ignore psd
assets/original

# Ignore Mac specific files
.DS_Store

# Ignore testing tools
internal

# Ignore the ZIP file generated for chrome
# To generate the ZIP run git archive -o deckie.zip HEAD
*.zip 
